<!-- navbar vertical -->

<nav class="navbar-vertical-nav d-none d-xl-block">
  <div class="navbar-vertical">
    <div class="px-4 py-5">
      <a href="../index.html" class="navbar-brand">
        <img src="../assets/images/logo/freshcart-logo.svg" alt="" />
      </a>
    </div>
    <div class="navbar-vertical-content flex-grow-1 simplebar-scrollable-y" data-simplebar="init">
      <div class="simplebar-wrapper" style="margin: 0px">
        <div class="simplebar-height-auto-observer-wrapper">
          <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
          <div class="simplebar-offset" style="right: 0px; bottom: 0px">
            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
              style="height: 100%; overflow: hidden scroll">
              <div class="simplebar-content" style="padding: 0px">
                <ul class="navbar-nav flex-column" id="sideNavbar">
                  <li class="nav-item ">
                    <a class="nav-link"routerLink="" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                        <span class="nav-link-text">Trang chủ</span>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Quản lý cửa hàng</span>
                  </li>
                  <ng-container *ngFor="let item of menu(); let idx = index">
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="item.url" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <div class="d-flex align-items-center">
                          <span class="nav-link-icon">
                            <i [class]="item.icon"></i></span>
                          <span class="nav-link-text">{{ item.title }}</span>
                        </div>
                      </a>
                    </li>
                  </ng-container>
                  <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Người dùng</span>
                    <ng-container *ngFor="let item of menuCustomer(); let idx = index">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="item.url" routerLinkActive="active"
                          [routerLinkActiveOptions]="{ exact: true }">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                              <i [class]="item.icon"></i></span>
                            <span class="nav-link-text">{{ item.title }}</span>
                          </div>
                        </a>
                      </li>
                    </ng-container>
                  </li>
                  <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Hệ thống</span>
                    <ng-container *ngFor="let item of menuCustomer(); let idx = index">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="item.url" routerLinkActive="active"
                          [routerLinkActiveOptions]="{ exact: true }">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                              <i [class]="item.icon"></i></span>
                            <span class="nav-link-text">{{ item.title }}</span>
                          </div>
                        </a>
                      </li>
                    </ng-container>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="simplebar-placeholder" style="width: 279px; height: 1066px"></div>
      </div>
      <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
        <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
      </div>
      <div class="simplebar-track simplebar-vertical" style="visibility: visible">
        <div class="simplebar-scrollbar" style="
            height: 34px;
            transform: translate3d(0px, 0px, 0px);
            display: block;
          "></div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
  <div class="navbar-vertical">
    <div class="px-4 py-5 d-flex justify-content-between align-items-center">
      <a href="../index.html" class="navbar-brand">
        <img src="../assets/images/logo/freshcart-logo.svg" alt="" />
      </a>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="navbar-vertical-content flex-grow-1 simplebar-scrollable-y" data-simplebar="init">
      <div class="simplebar-wrapper" style="margin: 0px">
        <div class="simplebar-height-auto-observer-wrapper">
          <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
          <div class="simplebar-offset" style="right: 0px; bottom: 0px">
            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
              style="height: 100%; overflow: hidden scroll">
              <div class="simplebar-content" style="padding: 0px">
                <ul class="navbar-nav flex-column">
                  <li class="nav-item ">
                    <a class="nav-link"routerLink="" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                        <span class="nav-link-text">Trang chủ</span>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Quản lý cửa hàng</span>
                  </li>
                  <ng-container *ngFor="let item of menu(); let idx = index">
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="item.url" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <div class="d-flex align-items-center">
                          <span class="nav-link-icon">
                            <i [class]="item.icon"></i></span>
                          <span class="nav-link-text">{{ item.title }}</span>
                        </div>
                      </a>
                    </li>
                  </ng-container>
                  <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Người dùng</span>
                    <ng-container *ngFor="let item of menuCustomer(); let idx = index">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="item.url" routerLinkActive="active"
                          [routerLinkActiveOptions]="{ exact: true }">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                              <i [class]="item.icon"></i></span>
                            <span class="nav-link-text">{{ item.title }}</span>
                          </div>
                        </a>
                      </li>
                    </ng-container>
                  </li>
                  <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Hệ thống</span>
                    <ng-container *ngFor="let item of menuHeThong(); let idx = index">
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="item.url" routerLinkActive="active"
                          [routerLinkActiveOptions]="{ exact: true }">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                              <i [class]="item.icon"></i></span>
                            <span class="nav-link-text">{{ item.title }}</span>
                          </div>
                        </a>
                      </li>
                    </ng-container>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="simplebar-placeholder" style="width: 279px; height: 1014px"></div>
      </div>
      <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
        <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
      </div>
      <div class="simplebar-track simplebar-vertical" style="visibility: visible">
        <div class="simplebar-scrollbar" style="
            height: 35px;
            transform: translate3d(0px, 0px, 0px);
            display: block;
          "></div>
      </div>
    </div>
  </div>
</nav>